# version: "3.9" # Use the latest version of Docker Compose syntax for better features and compatibility.
services:
  app:
    build: .
    container_name: bookly_app
    ports:
      - "${APP_PORT}:80"
    volumes:
      - .:/code
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}
    depends_on:
      db:
        condition: service_healthy
    networks:
      - bookly_network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/docs"]
      interval: 10s
      timeout: 5s
      retries: 5

  db:
    image: postgres:16
    container_name: bookly_db
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - bookly_network
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

#Remove pgAdmin service for production, but keep it for development to manage the PostgreSQL database easily.
  pgadmin: 
    image: dpage/pgadmin4
    container_name: bookly_pgadmin
    env_file:
      - .env
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "${PGADMIN_PORT}:80"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - bookly_network
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  bookly_network:
    driver: bridge
